.populares-container {
  display: flex;
  overflow-x: auto;
  gap: 0.75rem;
  padding: 0.5rem;
  max-width: 90vw;
  margin: 10px auto; 
  box-sizing: border-box;
  background-color: rgb(46, 53, 56);
  border-radius: 10px;
}


.populares-item {
  flex: 0 0 calc((70% - 2rem) / 3); 
  max-width: calc((60% - 2rem) / 3);
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(25, 31, 33);
  border-radius: 15px;
   box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4)
  
}
@media (max-width: 600px) {
  .populares-item {
    flex: 0 0 calc((100% - 1rem) / 2);
    max-width: calc((100% - 1rem) / 2);
  }
}

.populares-poster {
  width: 100%;
  height: auto;
  display: block;
  max-height: 260px;
      
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  display: block;
  
}

.populares-title {
  margin-top: 1.5rem;
  font-size: 1.0rem;
  color:white;
}